/** Space for all imported CSS Libraries **/

@use '@aegis-framework/kayros.css';

/** Space for all imported Fonts **/


/** Main Style goes here**/

h1 {
	font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

small {
	display: block;
	font-size: 0.8rem
}

/** Place here all Media Queries and it's styles.**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 1) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30dvw) {

}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {

}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {

}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 312.15em) {

}

/** CSS for Printing **/
@media print {

}